.container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.inner {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30em;
	height: 40rem;
	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
}
